@charset "UTF-8";

body {
    font-family: "Noto Sans KR", sans-serif;
  background-color: #f9f7f2;
  color :  black ;
  text-align: center;
}

h2, h3 {
    margin-top: 50px; 
    margin-bottom: 15px;
}


h1 {
  font-size: 55px;
  border: 30px solid #4e0003;
  border-radius:30px;
  padding: 6px 0;
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

p, ul {
  text-align: center;
  margin-bottom: 20px;

}

img {
  border-radius: 50%;

}

a {
  background-color: #4e0003;
  display: block;
  padding: 20px 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}

ul{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

li {
  margin-bottom: 20px;
  text-align: center;
}